<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landlord</title>
  </head>
  <body>
    <img class="img" src="p.png" "/>
    <div class="move">
      <center>
        <a
          class="tenet"
          href="https://resident.uidai.gov.in/offline-kyc"
          target="_blank"
          >Download ekyc</a
        ><br /><br />

        <a class="tenet" href="loc.ejs">Get your Location</a><br /><br />
        <a
          class="tenet"
          href="https://mail.google.com/mail/u/0/#inbox"
          target="_blank"
          >Share ekyc and passcode and location to the mail id shared by
          tenant</a
        >
      </center>
    </div>
  </body>
  <style>
    .tenet {
      text-decoration: none;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      font-size: 2rem;
      position: relative;
      color: darkred;

      transform: translateY(80rem);
    }
    .img {
      width: 90rem;
      position: relative;
      transform: translateX(-0.3rem) translateY(-1rem);
    }
    .move {
      position: relative;
      transform: translateY(-40rem);
    }
    body {
      overflow-y: hidden;
      overflow-x: hidden;
    }
  </style>
</html>
