<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Choose</title>
  </head>
  <body>
    <img class="img" src="w.jpg"/>
    <center class="move">
    <div class="u">Select to choose who you are</div>
    <br />
    <a class="tenet" href="index.ejs">Tenant</a><br />
    <a class="tenet" href="select.ejs">Landlord</a></centre>
  </body>
  <style>
    body {
      overflow-y: hidden;
      overflow-x: hidden;
    }
    .tenet {
      text-decoration: none;
      font-family: "Times New Roman", Times, serif;
      font-size: 9rem;
      position: relative;
      color:red;
    }
    .u {
      font-family: "Times New Roman", Times, serif;

      font-size: 5rem;
      color:blanchedalmond
    }
    .move
    {
      position: relative;
      transform: translateY(-45rem) translateX(5rem);
    }
    .img{
      position: relative;
      transform: translateX(-1rem) translateY(-7rem);
    }
  </style>
</html>
